body {
    background-color: white;
    }
    
    header {
    background-color: grey;
    padding: 10px 20px;
    }
    
    .header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px; 
    }
    
    .boton1 {
    background-color: orange;
    height: 70px;
    width: 200px;
    }
    
    .boton2 {
    background-color: white;
    height: 15px;
    width: 90px;
    }
    
    .boton3 {
    background-color: orange;
    height: 15px;
    width: 90px;
    }

    nav {
        background-color: gainsboro;
        padding: 20px 20px;
    }

    .button4 {
        background-color: darkslategrey;
        height: 30px;
        width: 120px;
    }

    .button5 {
        height: full;
        width: 30px;
        background-color: darkslategrey;
    }